*.exe

# assemblyscript
assemblyscript/node_modules
assemblyscript/build

# c
c/*.wasm

# cpp
cpp/*.wasm

# go
go/*.wasm

# grain
grain/node_modules
grain/target

# java
java-bytecoder/.gradle
java-bytecoder/build
java-bytecoder/*.jar
java-bytecoder/pkg
java-jwebassembly/.gradle
java-jwebassembly/build
java-jwebassembly/pkg
java-cheerpj/*.class
java-cheerpj/*.jar

# python
python/__pycache__

# rust
rust/pkg
rust/target

# typescript
typescript/node_modules
