*.exe

# assemblyscript
assemblyscript/node_modules
assemblyscript/build

# c
c/*.wasm

# cpp
cpp/*.wasm

# go
go/*.wasm

# grain
grain/node_modules
grain/target

# java
java/*.class
java/*.jar

# python
python/__pycache__

# rust
rust/pkg
rust/target

# typescript
typescript/node_modules
